# Project specific
input/
output/benchmarks/
output/benchmark_mem_results_csv/
bin/
bin/lib/
bin/main
bin/src/
results/random/
results/real/
scripts/logs/

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.ipynb_checkpoints/
